.title {
    font-size: 25px;
    color: #3B5998 !important;
}

.content {
    margin: 1em 0;
    padding-left: 1em;
    border-left: 4px solid #B9B9B9;
    line-height: 20px;
    font-size: 15px;
}

